<%- include('../partials/header.ejs') %>
<div class="thread content">
    <h2 class="title"><%= thread.title %></h2>
    <h3 class="author"><%= thread.author.name %></h3>
    <% posts.forEach(post => { %>
        <h3 class="author"><%= post.author.name %></h3>
            <h3 class="date"><%= post.createdAt %></h3>
            <h3 class="content"><%= post.content %></h3>
        <% }) %>
        <form action="/threads/id/<%= thread._id %>", method="POST" >
            <textarea id="content" name="content" max="3000" required></textarea>
            <div class="content error"></div>
            <button>Submit</button>
        </form>
</div>
<%- include('../partials/footer.ejs') %>

<script>
    const form = document.querySelector("form");
    const contentError = document.querySelector(".content.error");
  
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
  
      // reset errors
      contentError.textContent = "";
  
      // get values
      const author = '<%= user._id %>';
      const thread = '<%= thread._id %>';
      const content = form.content.value;
  
      try {
        const res = await fetch("/threads/id/" + thread, {
          method: "POST",
          body: JSON.stringify({ author, thread, content }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          contentError.textContent = data.errors.content;
        }
        if (data.user) {
          location.assign("/");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>