<%- include('../partials/header.ejs') %>

<section class="bg-dark text-light p-lg-0 pt-lg-5">
  <div class="container py-3 text-end">
    <div class="row"></div>
    <div class="col-3">
      <p class="display-6 title"><%= thread.title %></p>
      <p class="h4 author"><%= thread.author.name %></p>
    </div>
  </div>
</section>
<section class="bg-dark text-light">
  <div class="container py-3">
    <% posts.forEach(post => { %>
      <div class="container striped d-block rounded rounded-2 py-1">
        <p class="content"><%= post.content %></p>
        <p class="author"><%= post.author.name %></p>
        <p class="created-at">
          <% age = Math.abs(time - post.createdAt) %>
          <%- include('../partials/time.ejs') %>
        </p>
      </div>
      <% }) %>
    </div>
</section>
<section class="bg-dark text-light">
  <form action="/threads/id/<%= thread._id %>", method="POST" >
    <textarea id="content" name="content" max="3000" required></textarea>
    <div class="content error"></div>
    <button type="submit">Submit</button>
  </form>
</section>


<%- include('../partials/footer.ejs') %>

<script>
    const form = document.querySelector("form");
    const contentError = document.querySelector(".content.error");
  
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
  
      // reset errors
      contentError.textContent = "";
  
      // get values
      const author = '<%= user._id %>';
      const thread = '<%= thread._id %>';
      const content = form.content.value;
  
      try {
        const res = await fetch("/threads/id/" + thread, {
          method: "POST",
          body: JSON.stringify({ author, thread, content }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          contentError.textContent = data.errors.content;
        }
        if (data.user) {
          location.assign("/");
        }
      } catch (err) {
        console.log(err);
      }
    });
  </script>

